@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*------------------Left---------------*/
body{
    font-family: 'Montserrat', sans-serif;
}
.grid{
    display: grid;
    grid-template-columns: 60% 40%;
    background-color:rgb(248, 248, 248) ;
}
i{
    position: absolute;
    margin-top: 1.3%;
    padding-left: 1%;
    font-size: 15px;
    color:orangered;
}
.left{
    padding: 4% 4% 15% 15%;
    margin-left: 100px;
}
.left h1{
    padding: 1% 2% 2% 0;
   font-family: 'Montserrat', sans-serif;
}
.left h3{
    padding: 3% 2% 0 0;
    font-family: 'Montserrat', sans-serif;
}
.left h6{
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    padding-top: 1%;
}

.left input{
    padding: 0.8% 0 0.8% 0;
    margin: 2% 0 1% 0;
    width: 30%;
    border-radius: 5px;
    border: 1px solid rgb(145, 145, 145);
    text-align: center;
    font-size: 10px;
}
input[type=checkbox] { 
    width: 16px;
    height: 16px;  
    font-family: 'Montserrat', sans-serif;
}
button{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 1% 2% 1% 2%;
    margin-left: 18%;
    margin-top: 10%;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgb(194, 194, 194);
}
button:hover{
    background-color: rgb(209, 205, 202);
}
/*------------------------------------------*/
/*--------------------right part---------------------*/
.right{
    padding: 10% 2% 15% 0%;
    font-weight: bold;
}
.right-box{
    background-color: rgb(243, 242, 242);
    width: 60%;
    padding: 5% 5% 1% 5%;
    border-radius: 10px;
}
.Shoes h3{
    color: orangered;
}
.Shoes strike{
    color: #000;
}
.bag h3{
    color: orangered;
}
.bag strike{
    color: #000;
}

.right img{
    width: 50%;

    float: left;
    padding: 2% 5% 5% 2%;
    border-radius: 20px;
}
.pricing{
    word-spacing: 150px;
}
.right h2{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    padding: 1%;
    margin-left: 20px;
}
.right h3{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    padding: 1%;
    margin-left: 20px;
}
.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px
    ;min-width: 35px;
    text-align: center;
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    }
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}
.qty{
   
}
.minus:hover{
    background-color: #717fe0 !important;
}
.plus:hover{
    background-color: #717fe0 !important;
}
/*Prevent text selection*/
span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
input{  
    border: 0;
    width: 2%;
}
nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:disabled{
    background-color:white;
}